@{
    ViewBag.Title = "About";
}

<h3 style="margin-top:-10px;">The Pearl Collaboration</h3>

<hr />

<div class="well">

    <div class="lead">Central Project Team</div>

    <p style="margin-left:10px;margin-top:-5px;">
        <span class="fa fa-male">  </span>
        <span class="fa fa-female">  </span>
    </p>

    <div style="margin-left:10px;">
        <ul class="list-group">
            <li>
                Professor Julian Bion, PEARL Chief Investigator
                Professor of Intensive Care Medicine, University of Birmingham
                J.F.Bion@bham.ac.uk
            </li>
            <li>
                Ms Olivia Brookes, PEARL Project Manager
                University Hospitals Birmingham NHS Foundation Trust
                Olivia.Brookes@uhb.nhs.uk
            </li>
            <li>
                Mr Duncan Buckley, PEARL Patient & Relative Representative
                Mrs Lisa-Marie Buckley, PEARL Patient & Relative Representative
            </li>
            <li>
                Dr Carolyn Tarrant, Ethnography study lead
                Associate Professor in Health Psychology, SAPPHIRE group (joint lead): Department of Health Sciences, University of Leicester
            </li>
            <li>
                Dr Janet Willars, Research Associate
                SAPPHIRE group: Department of Health Sciences, University of Leicester
            </li>
            <li>
                Dr Jen Yiallouros, Research Associate
                SAPPHIRE group: Department of Health Sciences, University of Leicester
            </li>
            <li>
                Professor Richard Lilford, Methodology Lead
                Professor of Public Health; Director of W-CAHRD; Director of NIHR CLAHRC WM
            </li>
            <li>
                Dr Celia Taylor, PEARL Pedagogic Lead
                Associate Professor, University of Warwick
            </li>
            <li>
                Professor Ivo Vlaev, Behavioural Science Lead
                Professor of Behavioural Science, University of Warwick
            </li>
            <li>
                Professor Gavin Perkins, Debriefing Lead
                Professor of Critical Care Medicine, University of Warwick
            </li>
            <li>
                Dr Yen-Fu Chen, Systematic review expertise
                Senior Research Fellow, University of Warwick
            </li>
            <li>
                Dr Paul Sullivan, Quality Improvement Lead
                Consultant in Acute Medicine, Imperial College London
            </li>
            <li>
                Dr Greg Packer, Trainee Lead
                Specialist registrar in ICM and acute medicine, University Hospitals Birmingham NHS Foundation Trust
            </li>
            <li>
                Professor Julian Archer, Multi-source feedback lead
                Professor of Medical Education Research, University of Plymouth
            </li>
            <li>
                Ms Felicity Evison, Statistician
                Informatics Department, University Hospitals Birmingham NHS Foundation Trust
            </li>
            <li>
                Mr Stephen Perks, Analytics Developer
                Informatics Department, University Hospitals Birmingham NHS Foundation Trust
            </li>
            <li>
                Dr Lou Atkins, Behavioural Science Expertise
                Senior Teaching Fellow, University College London
            </li>
        </ul>
    </div>


</div>

<div class="well">

    <div class="lead">University Hospitals Birmingham NHS Foundation Trust Local Project Team</div>

    <p style="margin-left:10px;margin-top:-5px;">
        <span class="fa fa-male">  </span>
        <span class="fa fa-female">  </span>
    </p>

    <div style="margin-left:10px;">
        <ul class="list-group">
            <li>
                Dr Randeep Mullhi, ICU Local Project Lead
                Consultant in Anaesthesia and Intensive Care Medicine, Medical Examiner
            </li>
            <li>
                Dr Catherine Snelson, CDU Local Project Lead
                Consultant in Critical Care and Acute Medicine, Clinical Service Lead Critical Care UHB
            </li>
            <li>
                Tim Jones, Chair of the UHB Local Project Team
                Executive Director of Delivery
            </li>
            <li>
                Dr Carolyn Tarrant, Ethnography study lead
                Associate Professor in Health Psychology, SAPPHIRE group (joint lead): Department of Health Sciences, University of Leicester
            </li>
            <li>
                Emma Reeves, Research Nurse
            </li>
            <li>
                Lauren Cooper, Trial Co-ordinator
            </li>
            <li>
                Jake Osborne-Wylde, Research Administrator
            </li>
            <li>
                Dr Caroline Higenbottam, Specialist Trainee in Anaesthetics and ICM
            </li>
            <li>
                Elaine Tracey, ICU Sister
            </li>
            <li>
                Cait Nee, CDU Clinical Educator
            </li>
            <li>
                Leah Duffy, CDU Sister
            </li>
            <li>
                Rachel Ormston, CDU Sister
            </li>
            <li>
                Sarah Vince, CDU Sister
            </li>
            <li>
                Mr & Mrs Andrew Cox, PEARL PPI Representatives
            </li>
            <li>
                Mr Luke Flavell PEARL, PPI Representative
            </li>
            <li>
                Ms Jackie Flavell, PEARL PPI Representative
            </li>
            <li>
                Mr Tim Marshall, PEARL PPI Representative
            </li>
        </ul>
    </div>

</div>

<div class="well">

    <div class="lead">Heart of England NHS Foundation Trust Local Project Team</div>

    <p style="margin-left:10px;margin-top:-5px;">
        <span class="fa fa-male">  </span>
        <span class="fa fa-female">  </span>
    </p>

    <div style="margin-left:10px;">
        <ul class="list-group">
            <li>
                Professor Fang Gao Smith, ICU Local Project Lead
                Professor of Anaesthesia, Critical Care and Pain
            </li>
            <li>
                Dr Trishna Chakravorty, AMU Local Project Lead
                Acute Medicine Consultant
            </li>
            <li>
                Karen Kneller, Chair of the HEFT Local Project Team
                Non-Executive Director
            </li>
            <li>
                Dr Lucie Linhartova, ICU Consultant
            </li>
            <li>
                Dr Nitin Arora, ICU Consultant
            </li>
            <li>
                Jane Story, ICU Senior Nurse
            </li>
            <li>
                Dr Sikander Majid, AMU Doctor
            </li>
            <li>
                Grainne Buggy, Advanced Clinical Practitioner - AMU
            </li>
            <li>
                Andrew Coughlan, Charge Nurse / Clinical Educator - AMU
            </li>
            <li>
                Gill Randall, AMU Nurse
            </li>
            <li>
                Julia Sampson, Research Nurse
            </li>
            <li>
                Teresa Melody, Research Manager
            </li>
        </ul>
    </div>

</div>

<div class="well">

    <div class="lead">Newcastle upon Tyne NHS Trust Local Project Team</div>

    <p style="margin-left:10px;margin-top:-5px;">
        <span class="fa fa-male">  </span>
        <span class="fa fa-female">  </span>
    </p>

    <div style="margin-left:10px;">
        <ul class="list-group">
            <li>
                Dr Stephen Wright, ICU (W37) Local Project Lead
                Consultant in Intensive Care Medicine
            </li>
            <li>
                Dr Chris Gibbins, AMU (AS) Local Project Lead
                Consultant in Acute Medicine
            </li>
            <li>
                Dr Ian Clement, ICU (W38) Local Project Lead
                Consultant in Critical Care & Anaesthesia
            </li>
            <li>
                Dr Jonathan Shelton, ICU (W18) Local Project Lead
                Consultant in Anaesthesia and Intensive Care
            </li>
            <li>
                Prof Kath McCourt, Chair of NTH Local Project Team
                Non-Executive Director
            </li>
            <li>
                Ingrid O'Neil, ICU Nursing Lead, Ward 38 ICU (RVI - Newcastle)
            </li>
            <li>
                Gill Yeoman, ICU Nursing Lead, Ward 38 ICU (RVI - Newcastle)
            </li>
            <li>
                Helena Korovessis, AMU Nursing Lead, Assessment Suite (RVI - Newcastle)
            </li>
            <li>
                Dr Helen Doherty, Trainee Representative
            </li>
            <li>
                Dr Kay Protheroe, Trainee Representative
            </li>
            <li>
                Dr Louise Swan, Trainee Representative
            </li>
            <li>
                Mr Ian Spencer, PEARL PPI Representative
            </li>
            <li>
                Abigail Harrison, Critical Care Research Data Manager
            </li>
            <li>
                Neil Alderson, Informatics Lead
            </li>
            <li>
                Christine Straughan, Informatics Lead - Critical Care
            </li>
            <li>
                Andrew Pike, Head of Patient Experience
            </li>
        </ul>
    </div>

</div>

<div class="well">

    <div class="lead">PEARL Steering Committee</div>

    <p style="margin-left:10px;margin-top:-5px;">
        <span class="fa fa-male">  </span>
        <span class="fa fa-female">  </span>
    </p>

    <div style="margin-left:10px;">
        <ul class="list-group">
            <li>
                Professor Rebecca Lawton, Chair
                Professor of Health Psychology, University of Leeds
            </li>
            <li>
                Professor James Neuberger, Member
                Professor of Hepatology QEHB and University of Birmingham
            </li>
            <li>
                Mr Harry Turner, Member
                Non-Executive Director, Robert Jones and Agnes Hunt Orthopaedic Hospital NHS Trust
            </li>
            <li>
                Professor Stephen Brett, Member
                Consultant in Intensive Care Medicine, Professor of Critical Care, Imperial College London
            </li>
        </ul>
    </div>

</div>
