@{
    ViewBag.Title = "About";
}

<h3>About Pearl</h3>

<hr />

<p>
    Pearl is a 3 year developmental project, funded by the NIHR, commissioned to collect and analyse patient experience data from Acute and Intensive medical units at hospitals in England.
</p>

<p>
    The project is endorsed by the UK Critical Leadership Forum and the Society of Acute Medicindes, and project team are based at the University of Birmingham, and collaborate with a number of other eminent organisations, including:
</p>

<p>
    <ul>
        <li>University Hospitals Birmingham NHS Foundation Trust</li>
        <li>Heart of England NHS Foundation Trust</li>
        <li>University of Leicester</li>
        <li>NHS England</li>
        <li>Warwick University</li>
        <li>University College London</li>
    </ul>
</p>
