@{
    ViewBag.Title = "Contact";
}

<h3 style="margin-top:-10px;">Contact Us</h3>

<hr />

<div>
    <span class="fa fa-female"> Olivia Brookes</span>
   
    <br />
    PEARL Project Manager
    <br />
    University of Birmingham
</div>

<br />

<div>
    <span class="fa fa-envelope-o"></span>   
    <a href="mailto:>olivia.brookes@uhb.nhs.uk"> ProjectTeam@Pearl</a>
</div>
