@{
    ViewBag.Title = "Contact";
}

<h3 style="margin-top:-10px;">3 ways to contact us</h3>

<hr />

<div class="well">

    <div class="lead">1 Write to us...</div>

    <div>
        <span class="fa fa-female"> Olivia Brookes</span>

        <br />
        PEARL Project Manager
        <br />
        University of Birmingham
        <br />
        
    </div>

    <hr />

    <div class="lead">2 Email from your PC...</div>

    <div>
        <span class="fa fa-envelope-o"></span>
        <a href="mailto:>olivia.brookes@uhb.nhs.uk"> ProjectTeam@Pearl</a>
    </div>

    <hr />

    <div class="lead">3 Email from our Server...</div>

    <!-- Do not change the code! -->
    <a id="foxyform_embed_link_910150" href="http://www.foxyform.com/">foxyform</a>
    <script type="text/javascript">
        (function (d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = "http://www.foxyform.com/js.php?id=910150&sec_hash=cbee8838382&width=350px";
            s.parentNode.insertBefore(g, s);
        }(document, "script"));
    </script>
    <!-- Do not change the code! -->

</div>
