@{
    ViewBag.Title = "Contact";
}

<h3>Contact Us</h3>

<hr />

<div>
    <span class="fa fa-male"></span>
    <br />
    Olivia Brookes, PEARL Project Manager
    <br />
    University of Birmingham
</div>

<br />

<div>
    <span class="fa fa-envelope-o"></span>   
    <br />
    <a href="mailto:>olivia.brookes@uhb.nhs.uk">ProjectTeam@Pearl</a>
</div>
