@{
    ViewBag.Title = "Home Page";
}

<div class="alert-info" style="padding:25px; margin-bottom:25px;">

    <div class="lead">Welcome to PEARL</div>

    Pearl is a project to improve patient experiences

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert-info col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p>Some information</p>

    <a href="aaa" class="btn btn-primary ">Some Info</a>

</div>


<div class="col-sm-1">

</div>

<div class="alert-info col-sm-4 text-center" style="padding:25px; margin-bottom:25px;">

    <p>Some information</p>

    <a href="aaa" class="btn btn-primary ">Some Info</a>

</div>

<div class="col-sm-1">

</div>

<div class="alert-info col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p>Some information</p>

    <a href="aaa" class="btn btn-primary ">Some Info</a>

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert-info col-sm-12" style="padding:25px; margin-bottom:25px;">

    <h4>Some information</h4>

    <p>Some information</p>

    <p>Some information</p>

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert-info col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p>Some information</p>

    <a href="aaa" class="btn btn-primary ">Some Info</a>

</div>


<div class="col-sm-1">

</div>

<div class="alert-info col-sm-4 text-center" style="padding:25px; margin-bottom:25px;">

    <p>Some information</p>

    <a href="aaa" class="btn btn-primary ">Some Info</a>

</div>

<div class="col-sm-1">

</div>

<div class="alert-info col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p>Some information</p>

    <a href="aaa" class="btn btn-primary ">Some Info</a>

</div>
