@{
    ViewBag.Title = "Home Page";
}

<h3 style="margin-top:-10px;">Welcome to PEARL</h3>

<br />

<div class="alert-info text-center" style="padding:25px; margin-bottom:25px;">

    <p style="font-size:1.5em;">
        "The aim of	the	PEARL project is to	improve	outcomes for patients and families by using	patient	experience	to	enhance	the	behavioural	skills	of	clinical staff in acute	care".	
    </p>

    <hr />

    <img src="~/Content/Images/NHS_Patient_Care.jpg" class="img-responsive img-rounded" />

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert col-sm-12">

    <p style="font-size:1.5em;">
        Using quantitative & qualitative study linking experiential and performance measures with iterative feedback through ethnography and behaviour change theory, PEARL will produce a <em>reflective learning framework</em> with content adaptable to local context.
    </p>

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@


<div class="alert-warning col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <h3>Patient Experience</h3>

    <img style="width:230px;height:140px;" src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />

    <br />
    <br />

    <a href=@Url.Action("PatientExperience", "Home") class="btn btn-primary"><i class="fa fa-book"></i> Find out more...</a>

</div>

<div class="col-sm-1">

</div>

<div class="alert col-sm-4 text-center fa fa-border" style="padding:25px; margin-bottom:25px;">

    <div class="fa fa-arrow-left fa-2x"></div>

    <br />

    <h3>Who's involved?</h3>

    <br />

    <div class="fa fa-arrow-right fa-2x"></div>

</div>

<div class="col-sm-1">

</div>

<div class="alert-warning fa-border col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <h3>Staff Experience</h3>

    <img style="width:230px;height:140px;" src="~/Content/Images/doc002.jpg" class="img-responsive img-rounded" />

    <br />
    <br />

    <a href=@Url.Action("StaffExperience", "Home") class="btn btn-primary"><i class="fa fa-book"></i> Find out more...</a>

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert col-sm-12">

    <hr />

    <p style="font-size:1.5em;">
        Pearl is a 3 year developmental project, funded by the NIHR, commissioned to collect and analyse patient experience data from Acute and Intensive medical units at hospitals in England. The project is endorsed by the UK Critical Leadership Forum and the Society of Acute Medicindes, and project team are based at the University of Birmingham, and collaborate with a number of other eminent organisations, including:
    </p>

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="col-sm-12">

    <div class="alert-info col-sm-3" style="padding:25px; margin-bottom:25px;">

        <h4 class="fa fa-check-square fa-2x"> Project Setup</h4>
        <ul class="list-group">
            <li class="list-group-item-text">Develop Programme Theory</li>
            <li class="list-group-item-text">Local demographic data</li>
        </ul>

        <h4 class="fa fa-check-square fa-2x"> Experimental Survey</h4>
        <ul class="list-group">
            <li class="list-group-item-text">Patients and Relatives</li>
            <li class="list-group-item-text">Staff and Trainees</li>
        </ul>

    </div>

    <div class="col-sm-1">

    </div>

    <div class="alert col-sm-4 text-center fa fa-border" style="padding:25px; margin-bottom:25px;">

        <div class="fa fa-arrow-left fa-2x"></div>

        <br />

        <h3> What's happening?</h3>

        <br />

        <div class="fa fa-arrow-right fa-2x"></div>

    </div>

    <div class="col-sm-1">

    </div>

    <div class="alert-info fa-border col-sm-3" style="padding:25px; margin-bottom:25px;">

        <h4 class="fa fa-check-square fa-2x"> Ethanography</h4>
        <ul class="list-group">
            <li class="list-group-item-text">Topic guides / programme theory</li>
        </ul>

        <h4 class="fa fa-check-square fa-2x"> Site Visits</h4>
        <ul class="list-group">
            <li class="list-group-item-text">Workshops</li>
            <li class="list-group-item-text">Reflective learning framework</li>
        </ul>

    </div>

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert col-sm-12">

    <hr />

    <p style="font-size:1.5em;">
        The PEARL project will examine techniques and contextual influences for acquiring and using patient experience data in a vulnerable population (acutely and critically ill patients and their families) in two emergency settings in hospital: the acute medical unit (AMU) and the intensive care unit (ICU). Both these areas are important in terms of patient volumes, acuity, costs and outcomes, and both offer access to measures of case mix and performance. Researchers will design an approach to collecting and presenting patient experience data to staff and will develop a protocol to encourage reflective learning so that staff continually engage in self-criticism and improvement.
    </p>

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert-info fa-border col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p class="fa fa-building fa-2x"> NHS Trusts</p>

    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <td>University Hospitals Birmingham</td>
        </tr>
        <tr>
            <td>Newcastle Upon Tyne</td>
        </tr>
        <tr>
            <td>Heart of England</td>
        </tr>
    </table>

</div>

<div class="col-sm-1">

</div>

<div class="alert col-sm-4 text-center fa fa-border" style="padding:25px; margin-bottom:25px;">

    <div class="fa fa-arrow-left fa-2x"></div>

    <br />

    <h3> Who's helping?</h3>

    <br />

    <div class="fa fa-arrow-right fa-2x"></div>

</div>

<div class="col-sm-1">

</div>

<div class="alert-info fa-border col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p class="fa fa-building fa-2x"> Academic</p>

    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <td>University of Birmingham</td>
        </tr>
        <tr>
            <td>University of Leicester</td>
        </tr>
        <tr>
            <td>University of Warwick</td>
        </tr>
        <tr>
            <td>University College London</td>
        </tr>
    </table>
</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert col-sm-12">

    <hr />

    <p style="font-size:1.5em;">
        Researchers will observe collection and feedback of experiential and quality and performance metrics in ICUs and AMUs and obtain views about credibility, utility and impact. They will conduct observations and informal chats with hospital staff and collect documents related to collection and feedback of patient experience and quality indicators and data on salient features of local systems, social factors, and organisational context. Researchers will interview members of staff and invite patients and carers to participate in focus groups or individual interviews. They will also hold focus groups and conduct observations of observations of reflective learning sessions and workshops to characterise successes and challenges in implementing reflective learning in the three sites.
    </p>

    <hr />

</div>

