@{
    ViewBag.Title = "Home Page";
}

<div class="alert" style="padding:25px; margin-top:-25px;">

    <div class="lead">Welcome to PEARL</div>

    <p style="font-size:1.5em;">
        The aim of PEARL is to develop a reflective learning framework for staff in Acute Medical Units (AMUs) and Intensive Care Units (ICUs) to improve the patient, family and staff experience of the acute care pathway
    </p>

    <hr />

    <div class="text-center">
        <img src="~/Content/Images/NHS_Patient_Care.jpg" class="img-responsive img-rounded" />
    </div>
    
    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="col-sm-12">

    <p class="fa fa-info-circle" style="margin-bottom:10px; font-size:1.6em;color:#005EB8"> How does it work?</p>

    <p style="font-size:1.5em;">
        PEARL will take place in four large hospitals in England and involve patients, their relatives and staff with experience of the AMU or ICU. Through the use of questionnaires, interviews and observations, experiential data will be used to develop an understanding of how patients, relatives and staff understand the experience of travelling through the health system, how quality is perceived, and how attitudes and behaviours affect the overall patient experience. The data obtained (along with local clinical performance data) will be used to develop of a reflective learning framework with content adaptable to local context.
    </p>

    <br />

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@


<div class="alert-warning col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <h3>Patient Experience</h3>

    <br />

    <img src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />


    <br />
    <br />

    @*<a href=@Url.Action("PatientExperience", "Home") class="btn btn-primary"><i class="fa fa-book"></i> Find out more...</a>*@

</div>

<div class="col-sm-1">

</div>

<div class="alert col-sm-4 text-center hidden-sm" style="padding:25px; margin-bottom:25px;">

    <div class="fa fa-arrow-left fa-2x"></div>

    <br />

    <h3>Who's involved?</h3>

    <br />

    <div class="fa fa-arrow-right fa-2x"></div>

</div>

<div class="col-sm-1">

</div>

<div class="alert-warning fa-border col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <h3>Staff Experience</h3>

    <br />

    <img src="~/Content/Images/doc002.jpg" class="img-responsive img-rounded" />

    <br />
    <br />

    @*<a href=@Url.Action("StaffExperience", "Home") class="btn btn-primary"><i class="fa fa-book"></i> Find out more...</a>*@

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="col-sm-12">

    <hr />

    <br />

    <p class="fa fa-info-circle" style="margin-bottom:10px; font-size:1.6em;color:#005EB8"> How is the project funded?</p>

    <p style="font-size:1.5em;">
        PEARL is a 3 year developmental project, funded by the National Institute of Health Research (NIHR) Health Service & Delivery Research (HS&DR) programme. The project is led by University Hospitals Birmingham NHS Foundation Trust and is endorsed by the UK Critical Leadership Forum and the Society of Acute Medicine
    </p>

    <br />

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="col-sm-12">

    <br />

    <div class="alert-info col-sm-3" style="padding:25px; margin-bottom:25px;">

        <div class="lead"> Project Setup</div>
        <ul class="list-group">
            <li class="list-group-item-text">Develop Programme Theory</li>
            <li class="list-group-item-text">Local demographic data</li>
        </ul>

        <div class="lead"> Experimental Survey</div>
        <ul class="list-group">
            <li class="list-group-item-text">Patients and Relatives</li>
            <li class="list-group-item-text">Staff and Trainees</li>
        </ul>

    </div>

    <div class="col-sm-1">

    </div>

    <div class="alert col-sm-4 text-center hidden-sm" style="padding:25px; margin-bottom:25px;">

        <div class="fa fa-arrow-left fa-2x" style="margin-top:-15px;"></div>

        <br />

        <h3> What's happening?</h3>

        <h4>
            1:
            <a href=@Url.Action("Workstream1", "Home") >Project Setup</a>
        </h4>
        <h4>
            2:
            <a href=@Url.Action("Workstream2", "Home") >Experimental Survey</a>
        </h4>
        <h4>
            3:
            <a href=@Url.Action("Workstream3", "Home") >Ethnographic data collection</a>
        </h4>
        <h4>
            4:
            <a href=@Url.Action("Workstream4", "Home") >Reflective Learning Framework</a>
        </h4>

        <br />

        <div class="fa fa-arrow-right fa-2x"></div>

    </div>

    <div class="col-sm-1">

    </div>

    <div class="alert-info fa-border col-sm-3" style="padding:25px; margin-bottom:25px;">

        <div class="lead"> Ethanography</div>
        <ul class="list-group">
            <li class="list-group-item-text">Topic guides / programme theory</li>
        </ul>

        <div class="lead"> Site Visits</div>
        <ul class="list-group">
            <li class="list-group-item-text">Workshops</li>
            <li class="list-group-item-text">Reflective learning framework</li>
        </ul>

    </div>

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="col-sm-12">

    <hr />

    <br />

    <p class="fa fa-info-circle" style="margin-bottom:10px; font-size:1.6em;color:#005EB8"> What will it do?</p>


    <p style="font-size:1.5em;">
        The PEARL project will examine techniques and contextual influences for acquiring and using patient experience data in a vulnerable population (acutely and critically ill patients and their families) in two emergency settings in hospital: the acute medical unit (AMU) and the intensive care unit (ICU). 
    </p>

    <p style="font-size:1.5em;">
        Both these areas are important in terms of patient volumes, acuity, costs and outcomes, and both offer access to measures of case mix and performance. Researchers will design an approach to collecting and presenting patient experience data to staff and will develop a protocol to encourage reflective learning so that staff continually engage in self-criticism and improvement.
    </p>

    <br />

    <p style="font-size:1.5em;">
        Researchers will observe collection and feedback of experiential and quality and performance metrics in ICUs and AMUs and obtain views about credibility, utility and impact. They will conduct observations and informal chats with hospital staff and collect documents related to collection and feedback of patient experience and quality indicators and data on salient features of local systems, social factors, and organisational context. 
    </p>

    <br />

    <p style="font-size:1.5em;">
        In addition, Researchers will interview members of staff and invite patients and carers to participate in focus groups or individual interviews. They will also hold focus groups and conduct observations of observations of reflective learning sessions and workshops to characterise successes and challenges in implementing reflective learning in the three sites.
    </p>

    <br />

    <hr />

</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

<div class="alert-info fa-border col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <br />

    <p class="fa fa-building fa-2x"> NHS Trusts</p>

    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <td>University Hospitals Birmingham</td>
        </tr>
        <tr>
            <td>Newcastle Upon Tyne</td>
        </tr>
        <tr>
            <td>Heart of England</td>
        </tr>
    </table>

</div>

<div class="col-sm-1">

</div>

<div class="alert col-sm-4 text-center hidden-sm" style="padding:25px; margin-bottom:25px;">

    <div class="fa fa-arrow-left fa-2x"></div>

    <br />

    <h3> Who's helping?</h3>

    <br />

    <div class="fa fa-arrow-right fa-2x"></div>

</div>

<div class="col-sm-1">

</div>

<div class="alert-info fa-border col-sm-3 text-center" style="padding:25px; margin-bottom:25px;">

    <p class="fa fa-building fa-2x"> Academic Institutions</p>

    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <td>University of Birmingham</td>
        </tr>
        <tr>
            <td>University of Leicester</td>
        </tr>
        <tr>
            <td>University of Warwick</td>
        </tr>
        <tr>
            <td>University of Plymouth</td>
        </tr>
        <tr>
            <td>University of London</td>
        </tr>
    </table>
</div>

@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

