
@{
    ViewBag.Title = "PatientExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Patient Experience</h3>

<div class="jumbotron">
    Patient experience can be improved:
</div>

<div>
    <ul>
        <li>
            Lots of PE data, but little evidence for how this improves care (Picker)
        </li>
        <li>
            Only <span class="badge">60%</span> of patients satisfied with NHS (NHS user survey 2016)
        </li>
        <li>
            <span class="badge">30%</span> of complaints linked to issues in compassion, communication
        </li>
        <li>
            Grief to grievance: NHS litigation <span class="badge">£1.4Bn</span> in 2014
        </li>
        <li>
            Serious failures: Mid Staffs; Morecambe Bay...
        </li>
    </ul>
</div>

<br />

<div class="alert-info">

    Personal accounts: There were disturbing deficits in communication, uncoordinated care, and occasionally an apparently complete absence of empathy. I recognized myself in every failure. (USA)  A View from the Edge — Creating a Culture of Caring. Awdish RLA. NEJM Jan 2017

</div>
