@{
    ViewBag.Title = "ProjectWorkstreams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top:-10px;"> ProjectWorkstreams</h3>

<img src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />

<hr />

<br />

<img src="~/Content/Images/ProjectPlan.png" />

<br />
<hr />

<a href=@Url.Action("Workstream1", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Project Setup</a>
<a href=@Url.Action("Workstream2", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Experimental Survey</a>
<a href=@Url.Action("Workstream3", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Ethnographic data collection</a>
<a href=@Url.Action("Workstream4", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Reflective Learning Framework</a>

<hr />

