@{
    ViewBag.Title = "ProjetSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top:-10px;"> Project Summary</h3>

<img src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />

<hr />

<p style="font-size:1.5em;">
    No one reading Robert Francis’ report of 2009 could fail to be moved by the harrowing descriptions by patients and relatives of the deficiencies in care experienced at Mid-Staffordshire Hospital. The final report conclusion exposed the multi-layered and complex nature of the causes of failure, with a clear aspect of that failure being the dangerous combination of individual denial of responsibility within an inhibited system.
</p>

<p style="font-size:1.5em;">
    Most of the failings of Mid Staffs may therefore be interpreted as a consequence of interactions between practitioner attitudes and behaviours on the one hand, and resources and structures on the other. These types of attitudes and behaviours are common enough in everyday social interactions, but become lethal within high-risk environments when there is a power imbalance between participants.
</p>

<p style="font-size:1.5em;">
    The aviation industry recognised this many years ago and focused the entire workforce on safety; flattening working hierarchies, standardising practice and using the principles of ‘crew resource management’. However, in the healthcare setting, evidence that ‘non-technical skills’ training having a durable impact is not dependable. There are several challenges to training in non-technical skills: underlying attitudes are often obscure; the training environment is often artificial; the opportunity for reflection is greatly limited; the impact fading quickly; and the practitioner is not directly harmed by any error.
</p>

<p style="font-size:1.5em;">
    Our research project focuses on the implementation of reflective learning; a central component of educational theory and practice. We define reflective learning as “an experiential process of personal insight development” or more simply, it is the process of internally examining and exploring an issue of concern that is triggered by an experience, which in turn creates and clarifies meaning and results in a changed conceptual perspective.
</p>

<p style="font-size:1.5em;">
    Our overall aim is to develop a theory-based framework to promote reflective learning which links patient experience as directly and immediately as possible, to both a group and an individual performance. Through the use of questionnaires, interviews and observations we will develop an understanding of how patients, relatives and staff understand the experience of travelling through the health system, how quality is perceived, and how attitudes and behaviours affect the overall patient experience. We will characterise individual and organisational barriers and facilitators of good practice. Building on existing quality control processes in hospitals, we will organise information on the patient experience in a form that can be easily understood. This information will be fed back to staff during organised quality improvement meetings where they will be mentored in the art of reflective practice so that, rather than being defensive, staff incorporate the ideas of self-criticism and continual improvement into their normal working lives.
</p>

<p style="font-size:1.5em;">
    We will develop this into a framework of workplace-based reflective learning tools and processes with potential for incorporation in national training programmes. In short, and more importantly, we shall develop and pilot a tool for ‘culture change’; applying those so valuable lessons from the Francis Report outcome.
</p>

<p style="font-size:1.5em;">
    We will locate this project in the acute medical and intensive care units of four hospitals (3 NHS Trusts) for the very reason that these are high-risk environments in which vulnerable emergency patients benefit from multidisciplinary team (MDT) based care requiring a high level of integrated team working.
</p>

<div class="jumbotron">

    <div class="lead">Care within our NHS, reflections from Patients</div>

    <br />

    <div class="text-center">
        <img src="~/Content/Images/Experiences.png" />
    </div>

</div>

<hr />

