
@{
    ViewBag.Title = "StaffExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Staff Experience</h3>

<div class="jumbotron">
    Staff experience can be improved:
</div>

<div>
    <ul>
        <li>
            <span class="badge">81%</span> Supported by colleagues
        </li>
        <li>
            <span class="badge">59%</span> Recommend Trust as place to work
        </li>
        <li>
            <span class="badge">56%</span> Can make improvements happen at work
        </li>
        <li>
            <span class="badge">52%</span> Feel valued by manager
        </li>
        <li>
            <span class="badge">42%</span> Feel valued by organisation
        </li>
        <li>
            <span class="badge">25%</span> Witnessed potentially harmful error
        </li>
        <li>
            <span class="badge">18%</span> Witnessed bullying from manager/colleagues
        </li>
    </ul>
</div>

<br />


