
@{
    ViewBag.Title = "StaffExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top:-10px;">Staff Experience</h3>

<img src="~/Content/Images/doc010.jpg" class="img-responsive img-rounded" />

<hr />

<div class="jumbotron">

    <div class="lead">Results of recent NHS Staff Survey</div>

    <div class="li">

        <ul class="list-group">
            <li class="list-group-item">
                Felt supported by colleagues
                <span class="badge">81%</span> 
            </li>
            <li class="list-group-item">
                Feel valued by organisation
                <span class="badge">42%</span>
            </li>
            <li class="list-group-item">
                Would recommend Trust as place to work
                <span class="badge">59%</span>
            </li>
            <li class="list-group-item">
                Can make improvements happen at work
                <span class="badge">56%</span>
            </li>
            <li class="list-group-item">
                Feel valued by manager
                <span class="badge">52%</span>
            </li>
            <li class="list-group-item">
                Witnessed potentially harmful error
                <span class="badge">25%</span>
            </li>
            <li class="list-group-item">
                Witnessed bullying from manager/colleagues
                <span class="badge">18%</span>
            </li>

        </ul>

    </div>

</div>

<br />


