@{
    ViewBag.Title = "Workstream2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top:-10px;"> Workstream 2 : Experimental Survey</h3>

<img src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />

<hr />

<p style="font-size:1.5em;">
    In this workstream experiential data will be collected from patients, their relatives and staff through the use of two different surveys. Patient and relative experience in the AMUs and ICUs will be recorded using the PEARL patient and relative experience survey developed from the Family Satisfaction Survey (FS-ICU) [Wall 2007], the Adult In-Patient Survey, and the Friends and Family Test (F&FT) including the free-text component.  The survey will be offered to those patients with capacity and to all families of patients who have been in the AMU, and to families of patients who have been in the ICU.  Eligible ICU patients will have spent ≥48 hours on the unit. Eligible AMU patients will have spent ≥24 hours on the unit. The survey will run continuously for a two year period with aggregated reports provided to units on a quarterly basis.
</p>

<p style="font-size:1.5em;">
    Staff experiences of working within the AMUs and ICUs will also be measured. A staff experience survey will be developed using the following existing validated surveys: NHS Staff Core Survey, the Staff F&FT, Hospital Survey on Patient Safety Culture, Teamwork and Safety Climate Survey, GMC Trainee Survey, Self-Reflection and In-Sight Scale (SIRS), COM-B Behaviour change framework.   The aim of the survey is to gain insights into individual, contextual and organisational influences on staff behaviour, which may impact on patient experience.  This includes attitudes towards reflection, and to the use of patient experience data. The survey will be offered to all clinical and managerial staff in the participating AMUs and ICUs twice throughout the duration of the project.
</p>

<p style="font-size:1.5em;">
    These data will be used together with the insights gained from the ethnography in Workstream 3 to develop the reflective learning framework in Workstream 4.
</p>

<br />
<hr />

<a href=@Url.Action("Workstream1", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Project Setup</a>
<a href=@Url.Action("Workstream3", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Ethnographic data collection</a>
<a href=@Url.Action("Workstream4", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Reflective Learning Framework</a>

<hr />

