@{
    ViewBag.Title = "Workstream4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top:-10px;"> Workstream 4 : Reflective Learning Framework</h3>

<img src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />

<hr />

<p style="font-size:1.5em;">
    The aim of the Reflective Learning Framework (RLF) is to maximise the behavioural capacities, opportunities and motivation of health care staff so that acutely ill patients and their families have the best possible experience of their journey through the health system.  The RLF will therefore focus on patient-staff interactions; will be located as close to the bedside as possible; will be rooted in action rather than theory; will include data-based and experiential material to engage both the deliberative and the emotional capacities of staff; and will aim to normalise and integrate best practice with minimal additional demands on staff time.  We will explore our programme theory (below) looking at the interplay between theories of behaviour change and reflective learning.
</p>

<h4>PEARL Programme Theory</h4>

<img src="~/Content/Images/PearlTheory.png" />

<br />

<p style="font-size:1.5em;">
    Using the location-specific and benchmarked data acquired from Workstream 2 (patient, relative and staff experience) and de-identified information from Workstream 3 (ethnography), we will develop a reflective learning framework to incorporate patient experience in routine bedside practice.  We will do this using a stakeholder co-design approach with iterative small-cycle testing through our four project workshops.
</p>

<p style="font-size:1.5em;">
    We hypothesise that the provision of quantitative and qualitative information in a social context will stimulate the conversion of implicit to explicit knowledge through group reflection on action; and that awareness of best practice will become implicit and normalised through reflection in action during clinical practice.
</p>

<p style="font-size:1.5em;">
    The final framework produced is likely to take the form of a ‘Toolkit’ (examples include Resources, guidance, techniques, stories, audits, humour, sanctions & challenges) with a primary focus of improving patient, family and staff wellbeing. This will be a dynamic instrument that will be locally owned with potential for subsequent testing in a later randomised controlled trial.
</p>

<br />
<hr />

<a href=@Url.Action("Workstream1", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Project Setup</a>
<a href=@Url.Action("Workstream2", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Experimental Survey</a>
<a href=@Url.Action("Workstream3", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Ethnographic data collection</a>

<hr />

