@{
    ViewBag.Title = "Workstream3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top:-10px;"> Workstream 3 : Ethnographic data collection</h3>

<img src="~/Content/Images/doc001.jpg" class="img-responsive img-rounded" />

<hr />

<p style="font-size:1.5em;">
    Ethnography can provide unique insights into real-world clinical practice and the views of patients, families and staff to characterise how patients and staff perceive quality of care and view barriers to and opportunities for improvement.  Staff attitudes and organisational barriers and facilitators can be exposed to view by an impartial observer.
</p>

<p style="font-size:1.5em;">
    Ethnographic work will be conducted in each of the participating Trusts.  This will include (i) an initial phase of data collection focused on describing current use of patient experience data, exploring options for the feedback of data as part of the reflective learning process, and investigating barriers to and opportunities for improvement. Findings from this phase will feed into the development of the pilot reflective learning framework; (ii) a second phase of data collection. This will focused on: observations of reflective learning sessions, workshops and reflective practice in action in day to day practice; and interviews and focus groups with participating staff about engaging with patient experience data and turning reflection into action. The data from this phase, combined with the experiential survey data, will feed into iterative stages of development of the reflective learning framework.
</p>

<p style="font-size:1.5em;">
    Institutional approval will be sought for the ethnographer to observe clinical practice. Staff will be informed that observation of practice is taking place, and will have the right to refuse observations if they wish. Site-specific feedback will be integrated into ongoing development and revision of the reflective learning, and analysis of data will include case study descriptions by site as well as identification of cross-case themes. Data will be carefully anonymised and will not be attributable to specific individuals.
</p>

<br />
<hr />

<a href=@Url.Action("Workstream1", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Project Setup</a>
<a href=@Url.Action("Workstream2", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Experimental Survey</a>
<a href=@Url.Action("Workstream4", "Home") class="btn btn-primary"><i class="fa fa-book"></i>Reflective Learning Framework</a>

<hr />

